// .mat-row:nth-child(-n+21) {
    //  background-color: #f3d2d0;
// }
.mat-stroked-button{
    background-color: #f3d2d0;    
}
.mat-row .top21::before {
    content: "Standby";
}
.mat-row:nth-child(-n+21) .top21::before {
    content: "Top 21";
}
